// $brand-color-primary: #097bbf;
// $brand-color-secondary: #861a1f;
// $brand-color-tertiary: #fff;

$app-text-primary: #0e141e;
$app-text-secondary: #39424e; // Older #555
$app-text-tertiary: #576871;
$app-text-white: #fff;
$app-text-green: #1ba94c;
$app-text-black: #000;
$app-link-color: #097bbf;
$app-color-disabled-hover: #888A8C;

$app-bg1: #f3f7f7;
$app-bg2: #e7eeef;
$app-bg-header: #39424e;
$app-bg-footer: #fff;
$app-bg-card: #fff;

$app-color-border: #b3b3b3;
$app-color-disabled: #929497;

$app-btn-color: #f0f0f0;
$app-button-inactive: #929497;