$brand-color-primary: #e91e37;
$brand-color-secondary: #861a1f;
$brand-color-tertiary: #fff;

$app-text-primary: #434243;
$app-text-secondary: #676767; // Older #555
$app-text-tertiary: #929497;
$app-text-white: #fff;
$app-text-black: #000;

$app-color-h1: $brand-color-secondary;
$app-color-h2: $brand-color-primary;
$app-color-h3: $app-text-primary;
$app-color-h4: #666;
$app-color-disabled-hover: #888A8C;

$app-bg-body: #eee;
$app-bg-container: #fff;
$app-bg-header: #222;
$app-bg-footer: #fff;
$app-bg-card: #fff;

$app-color-border: #ddd;
$app-separator-light: #943134;
$app-color-disabled: #929497;

$app-btn-color: #f0f0f0;
$app-button-inactive: #929497;


